<div class="container">
  <div class="row no-gutters">
    <div class="col-12 col-sm-12 col-md-8 col-lg-5 col-xl-5 mx-auto text-center shadow-lg rounded px-0 my-5">
      <h4 class="text-dark bg-light p-4 mb-0"><strong>投稿一覧</strong></h4>
      <div class="form-body p-4 bg-light">
        <%= link_to "投稿する", new_item_path, class:"btn btn-block btn-primary" %>
        <% @items.each do |item| %>
          <%= link_to user_path(item.user) do %>
            <%= attachment_image_tag(item.user, :profile_image, size: "100x100", fallback: "no_image.png") %><br>
            <%= item.user.name %>
          <% end %>
          <%= link_to item_path(item) do %>
            <%= attachment_image_tag(item.user, :profile_image, size: "100x100", fallback: "no_image.png") %><br>
            <%= item.purchase_time.strftime("%-m月") %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>