<div class="container">
  <div class="row no-gutters">
    <div class="col-12 col-sm-12 col-md-8 col-lg-5 col-xl-5 mx-auto text-center shadow-lg rounded px-0 my-5">
      <h4 class="text-dark bg-light p-4 mb-0"><strong>投稿一覧</strong></h4>
      <div class="form-body p-4 bg-light">
        <%= link_to "投稿する", new_item_path, class:"btn btn-block btn-primary" %>
        <hr>
        <% @items.each do |item| %>
          <div>
            <div class="container">
              <div class="row no-gutters">
                <div class="col-4">
                  <%= link_to user_path(item.user) do %>
                    <div>
                      <%= attachment_image_tag(item.user, :profile_image, size: "100x100", fallback: "no_image.png") %>
                    </div>
                    <div>
                      <%= item.user.name %>
                    </div>
                  <% end %>
                </div>
                <div class="col-8">
                  <%= link_to item_path(item) do %>
                    <div>
                      <%= attachment_image_tag(item.user, :profile_image, size: "100x100", fallback: "no_image.png") %>
                    </div>
                    <div>
                      <%= item.purchase_time.strftime("%-m月") %>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
            <div class="container">
              <div class="row no-gutters">
                <div class="col-12">
                  <% if current_user.already_favorited?(item) %>
                    <%= link_to item_favorites_path(item), method: :delete do %>
                      <i class="fas fa-heart text-danger"></i>
                    <% end %>
                  <% else %>
                    <%= link_to item_favorites_path(item), method: :post do %>
                      <i class="far fa-heart text-danger"></i>
                    <% end %>
                  <% end %>
                  <%= item.favorites.count %>
                </div>
              </div>
            </div>
          </div>
          <hr>
        <% end %>
      </div>
    </div>
  </div>
</div>