<div class="container">
  <div class="row no-gutters">
    <div class="col-12 col-sm-12 col-md-8 col-lg-5 col-xl-5 mx-auto text-center shadow-lg rounded px-0 my-5">
      <h4 class="text-dark bg-light p-4 mb-0"><strong>投稿画面</strong></h4>
      <div class="form-body p-4 bg-light">
        <%= form_with model:@item,url: items_path, local:true do |f| %>
        <div class="input-group mb-3 mt-4">
          <%= f.date_select :purchase_time, {:discard_day => true, :discard_year => true} %>
        </div>
        <div class="input-group mb-3 mt-4">
          <%= f.text_field :name, size: "1x3", class:"form-control", placeholder:"商品名" %>
        </div>
        <div class="input-group mb-3 mt-4">
          <%= f.text_area :introduction, size: "1x3", class:"form-control", placeholder:"商品説明" %>
        </div>
        <div class="input-group mb-3 mt-4">
          <%= f.text_area :item_url, size: "1x3", class:"form-control", placeholder:"商品URL" %>
        </div>
          <%= f.submit "投稿する", class:"btn btn-block btn-success mt-5" %>
        <% end %>
      </div>
    </div>
  </div>
</div>