<div class="container">
  <div class="row no-gutters">
    <div class="col-12 col-sm-12 col-md-8 col-lg-5 col-xl-5 mx-auto text-center shadow-lg rounded px-0 my-5">
      <h4 class="text-dark bg-light p-4 mb-0"><strong>投稿詳細</strong></h4>
      <div class="form-body p-4 bg-light">
        <div>
          <%= @item.purchase_time.strftime("%-m月") %>
        </div>
        <div>
          <%= attachment_image_tag(@item, :item_image, size: "100x100", fallback: "no_image.png") %>
        </div>
        <div>
          <%= @item.name %>
        </div>
        <div>
          <%= @item.introduction %>
        </div>
        <div>
          <%= Rinku.auto_link(@item.item_url, :all, 'target="_blank"').html_safe %>
        </div>
        <div>
          <% if current_user.already_favorited?(@item) %>
            <%= link_to item_favorites_path(@item), method: :delete do %>
              <i class="fas fa-heart text-danger"></i>
            <% end %>
          <% else %>
            <%= link_to item_favorites_path(@item), method: :post do %>
              <i class="far fa-heart text-danger"></i>
            <% end %>
          <% end %>
          <%= @item.favorites.count %>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>